* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    height: 100%;
    font-family: Arial, Helvetica, sans-serif;
    /* background-image: url("/images/login-backgground.jpg"); */
    background-image: url("/images/fondo-prueba.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    color: white;
}

.crear-producto{
    margin: auto;
    text-align: center;
    font-size: 45px;
    background-color: #FFCB74;
    border-radius: 15px;
    max-width: 590px;
    color: #202020;
    font-weight: 700;
}

.contenedor-formulario {


    position: relative;
    right: 0;
    margin: auto;
    max-width: 590px;
    padding: 16px;
    backdrop-filter: blur(10px);
    border-radius: 15px;
    color: #f6f6f6;
	font-size: 25px;
	background-color: rgb(16,16,16, 0.5);
    
    
}

.contenedor-formulario div {

    color: white;
    text-align: left;
    margin-bottom: 2%;
    margin-left: 1%;
}

.contenedor-formulario textarea {

    width: 50%;
    height: 75px;
}

.boton {
    margin: auto;
    text-align: center;
}



.btn {
    background-color: tomato;
    color: #f6f6f6;
    padding: 16px 20px;
    border: none;
    cursor: pointer;
    width: 60%;
    opacity: 0.9;
    font-size: 19px;
    border-radius: 15px;
    font-weight: bold;
    position: relative;
    left: 110px;
}

.btn:hover {
    opacity: 1;
	box-shadow: 0px 0px 30px 5px lightcoral;
}

.is-valid {
    color: #198754; 
     border: 3px solid #198754;
  }
  
  .is-invalid {
    color: red;
    border: 3px solid rgb(255, 0, 0, 0.7);
  }
  
  .alert-warning{
    list-style: none;
    color:#842029;
    background-color: black;
    text-align: center;
    border-radius: 10px;
    max-width: 655px;
    margin: auto;
    position: relative;
    top: 50px;
    
    
  }
ol {
    color: white;
    

}

.fa-circle-xmark{
    position: relative;
    top: 0px;
    left: -36px;
    color: red;
    font-size: 17px;
}

.fa-circle-check {

    position: relative;
    top: 0px;
    left: -36px;
    color: green; 
    font-size: 17px;
}

.error-nombre { 
    display: none;
    color: red;
    font-weight: bold;
    


}
.error-precio { 
    display: none;
    color: red;
    font-weight: bold;

}

.error-mail { 
    display: none;
    color: red;
    font-weight: bold;

}

.error-contraseña { 
    display: none;
    color: red;
    font-weight: bold;

}

.error-contraseña2 { 
    display: none;
    color: red;
    font-weight: bold;

}
