.is-valid {
    color: #198754; 
     border: 3px solid #198754;
  }
  
  .is-invalid {
    color: red;
    border: 3px solid rgb(255, 0, 0, 0.7);
  }
  
  .alert-warning{
    list-style: none;
    color:#842029;
    background-color: black;
    text-align: center;
    border-radius: 10px;
    width: 25%;
   margin: auto;
    
  }
ol {
    color: white;
    

}

.fa-circle-xmark{
    position: relative;
    top: -2px;
    left: -36px;
    color: red;
    font-size: 17px;
}

.fa-circle-check {

    position: relative;
    top: -2px;
    left: -36px;
    color: green; 
    font-size: 17px;
}

.error-nombre { 
    display: none;
    color: red;
    font-weight: bold;


}
.error-precio { 
    display: none;
    color: red;
    font-weight: bold;

}

.error-mail { 
    display: none;
    color: red;
    font-weight: bold;

}

.error-contraseña { 
    display: none;
    color: red;
    font-weight: bold;

}

.error-contraseña2 { 
    display: none;
    color: red;
    font-weight: bold;

}
