
.usuario{
  color: green;
}
  .main-header-logo {
 
    text-align: center;
  }
  .logo {
    width: 20vw;
  }
  
  .topnav {
    display: none;
    overflow: hidden;
    align-items: center;
    justify-content: space-evenly;
  }
  
  .topnav-right {
    display: flex;
    overflow: hidden;
    color: #f2f2f2;
    align-items: center;
    justify-content: space-around;
    width: 100%;


    
    flex-wrap: wrap;
    padding: 10px;
    
    
    position: sticky;
    top: 0px;
    z-index: 2;
    
    background-color: #000000;


  }
  
  .topnav a {
    float: center;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 20px;
    text-decoration: none;
    font-size: 14px;
  }


  
  .topnav-right a {
    float: center;
    position: relative;
    color: #f2f2f2;
    text-align: center;
    padding-right: 25px;
    text-decoration: none;
    font-size: 25px;
  }
  
  .texto-navBar {
    font-size: 25px;
  }
  
  .fa-bag-shopping {
    font-size: 30px;
    
  }
  
  .topnav a:hover {
    color: #FFCB74;
  }
  
  .topnav-right a:hover {
    color: #FFCB74;
  }
  
  .topnav a.active {
    color: #FFCB74;
  }
  
  .topnav-right a.active {
    color: #FFCB74;
  }
  
  .topnav .icon {
    display: none;
  }
  
  .img-userNavBar {
    max-width: 155px;
    border-radius: 50px;
  }
  
  .user-navBar {
    display: contents;
    text-align: center;
    font-size: 30px;
  }

  .iconos {
   font-size: 25px;
  }

  #menu {
    position: fixed;
    width: 200px;
    height: 100%;
    background-color: rgba(37, 37, 37, 0.88);
    left: -200px;
    top: 0px;
    z-index: 1;
  }
  
  #menu ul {
    display: flex;
    flex-direction: column;
  }

  #menu ul li a{
    display: flex;
    flex-direction: column;
    color: #fff;
    list-style: none;
    text-align: left;
    padding: 15px 5px;
    border-bottom: 1px solid rgb(100, 100, 100, .88);
  }
  
  #menu.mostrar {
    left: 0
  }
  
  .cierra{
    position: relative;
    left: 175px;
    top: 32px;
    font-size: 20px;

  }

  .busqueda {
    width: 75%;
  }
  .search-form { 
    padding-top: 10px;

  }

  #myBtn{
    display: none;
  }

  .contenedor-pc{

    display: none;

  }

  .lupa-user{
    font-size: 30px;
  }


  @media (min-width: 479px) {

    .contenedor-pc{

      display: none;

    }
  
  }
  
    @media (min-width: 768px) {

      .mobile {
        display: none;
      }

      .contenedor-pc{

        display: flex;
        flex-wrap: wrap;
        padding-top: 10px;
        align-items: center;
        justify-content: center;
        position: sticky;
        top: 0px;
        z-index: 2;
        width: 100%;
        background-color: #000000;
      }

      .lupa {
        font-size: 20px;
      }

      .busqueda {
        width: 20vw;
        height: 25px;
      }

      .topnav-right{
        padding: 0px;
      }

    
    }