.main-header {
    display: flex;
    flex-wrap: wrap;
    padding: 10px;
    align-items: center;
    justify-content: center;
    position: sticky;
    top: 0px;
    z-index: 2;
    width: 100%;
    background-color: #000000;
    /* width: 96%;
    background-color: rgba(47, 47, 47, 0.5); */
    /* margin: 10px 2%; */
    /* border-radius: 15px; */
  }

  .main-header-logo {
 
    text-align: center;
  }
  .logo {
    width: 90%;
  }
  
  .topnav {
    display: none;
    overflow: hidden;
    align-items: center;
    justify-content: space-evenly;
  }
  
  .topnav-right {
    display: flex;
    overflow: hidden;
    color: #f2f2f2;
    align-items: center;
    justify-content: space-around;
    width: 100%;
  }
  
  .topnav a {
    float: center;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 20px;
    text-decoration: none;
    font-size: 14px;
  }
  
  .topnav-right a {
    float: center;
    position: relative;
    color: #f2f2f2;
    text-align: center;
    padding: 20px;
    text-decoration: none;
    font-size: 14px;
  }
  
  .texto-navBar {
    font-size: 35px;
  }
  
  .fa-solid {
    font-size: 70px;
    ;
  }
  
  .topnav a:hover {
    color: #FFCB74;
  }
  
  .topnav-right a:hover {
    color: #FFCB74;
  }
  
  .topnav a.active {
    color: #FFCB74;
  }
  
  .topnav-right a.active {
    color: #FFCB74;
  }
  
  .topnav .icon {
    display: none;
  }
  
  .img-userNavBar {
    max-width: 20%;
    filter: invert(1);
    border-radius: 50px;
  }
  
  .user-navBar {
    display: contents;
    text-align: center;
    font-size: 30px;
  }