.back-color {
  background-color: #ffffff !important;
}

.padre {
  margin: 0 auto;
  width: 55%;
  text-align: center;
  gap: 10px;
}

.texto-producto {
  font-size: 20px;
}

.articulos {
  border-radius: 10px;
  box-shadow: 20px 20px 60px #bebebe, -20px -20px 60px #ffffff;
  padding: 10px;
  text-align: center;
  color: white;
  background: linear-gradient(1deg, #00000050, transparent);
  background-color: rgb(112, 128, 144, 0.1)
}

.fa-cart-arrow-down {
  color:limegreen;
}

.img-producto {
  max-height: 15rem;
  filter: drop-shadow(2px 4px 20px black);
}

.padre-lista {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  margin: auto;
  margin-top: 20px;
  justify-content: center;
}

.img-user {
  width: 20%;
}

@media (min-width: 479px) {}


@media (min-width: 768px) {
  .padre {
    display: grid;
    margin: 0 auto;
    width: 85%;
    text-align: center;
    grid-template-columns: 45% 45%;
    justify-content: space-between;
    grid-template-rows: auto;
  }
}

@media (min-width: 1200px) {
  .padre {
    display: grid;
    margin: 0 auto;
    width: 85%;
    text-align: center;
    grid-template-columns: 20% 20% 20% 20%;
    justify-content: space-between;
    grid-template-rows: auto;
  }

  .texto-producto {
    font-size: 23px;
  }

  .articulos {
    border-radius: 10px;
    box-shadow: 20px 20px 60px #bebebe,
      -20px -20px 60px #ffffff;
    padding: 10px;

  }

  .img-producto {
    max-height: 20rem;
    filter: drop-shadow(2px 4px 20px black);
  }

}