* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
 background-color: #000000;
}

body,
html {
  height: 100%;
}

main {
  display: block;
}

.rec-art{
  background-image: url("/images/fondo-prueba.jpg");
}

.baner-cat {
  width: 100%;
}

.badge {
  position: absolute;
  top: 8px;
  right: 6px;
  padding: 3px 6px;
  border-radius: 50%;
  background: red;
  color: white;
  font-size: 9px;
}

.banner-image {
  background-image: url("/img/banner/banner.jpg");
  background-attachment: fixed;
  background-position: center top;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  min-height: 100%;
}

.banner-text {
  position: absolute;
  padding: 15px;
  top: 40%;
  right: 20%;
  text-align: right;
}

.banner-text p {
  font-size: 12px;
  color: #FFCB74;
}

.banner-text h1 {
  padding-bottom: 15px;
  color: #f6f6f6;
}

.banner-page-text {
  position: absolute;
  padding: 10px;
  top: 70%;
  left: 2%;
  text-align: left;
}

.banner-page-text h1 {
  color: #f6f6f6;
}

.burguer-menu {
  color: #f6f6f6;
  text-align: center;
}

.fa-user {
  color: #f6f6f6;
}

.texto-header {
  color: #f6f6f6;
  font-size: calc(0.6em + 0.5vw);
  text-align: center;
}

.carrito {
  color: #f6f6f6;
  text-align: center;
}

.fa-shopping-cart {
  color: #f6f6f6;
}

.barra-busqueda {
  display: flex;
  align-items: center;
  border-radius: 2px;
  background-color: #f6f6f6;
  padding: 5px;
  max-height: 25px;
  max-width: 40%;
  text-align: center;
}

.fa-search,
.fa-times {
  color: #111111;
  background-color: #f6f6f6;
}

input {
  margin: 0 5px 0 5px;

  border: none;
  outline: none;
}

.boton-delete {
  font-size: 30px;
  color: red;
  border-color: red;
  padding: 10px;
  border-radius: 10px;
}

.boton-save {
  font-size: 30px;
  color: green;
  border-color: green;
  padding: 10px;
  border-radius: 10px;
}


.nav-bar {
  display: none;
  margin-top: 10px;
}

.nav-bar a {
  padding: 5px;
}

li,
a {
  list-style: none;
  text-decoration: none;
  color: #f6f6f6;
  display: inline-block;
}

.ing-reg {
  width: 100%;
  color: #f6f6f6;
  text-align: center;
  font-size: 12px;
  /* background-color: #4d2121; */
  background-color: #111111;
}

.banner-text button {
  border: none;
  outline: 0;
  display: inline-block;
  padding: 10px 25px;
  color: black;
  background-color: #ddd;
  text-align: center;
  cursor: pointer;
  border-radius: 15px;
}

.banner {
  background-image: url("/img/img-home-banner.jpg");
  background-attachment: fixed;
  background-position: center top;
  background-repeat: no-repeat;
  background-size: cover;
  position: fixed;
  z-index: 1;
  min-height: 36%;
}

.banner-text button:hover {
  background-color: #FFCB74;
  color: white;
}

.categorias {
  display: flex;
}


h2 {
  text-align: center;
  color: silver;
  font-size: 35px;
  padding: 20px;
  font-weight: bold;
}

.user-img {
  max-width: 10%;
}

.is-invalid {
  color: red;
}

.text-user {
  font-size: 20px;
  word-break: break-all;
}

.main-sections {
  background-color: white;
  background-image: url(/images/fondo-cat-vinos.jpg);
  background-size: cover;
}

.section-article {
  margin: auto;
  width: 90%;
  flex-wrap: wrap;
}

.article-detail {
  background-color: #F6F6F6;
  margin: 20px auto;
  padding: 10px;
  position: relative;
  box-shadow: 20px 20px 60px #bebebe, -20px -20px 60px #ffffff;
  text-align: center;
  border-radius: 10px;
  background: whitesmoke;
}

.article-detail div {
  padding: 5px;
}

.article-total {
  background-color: #F6F6F6;
  margin: 20px auto;
  padding: 10px;
  position: relative;
  box-shadow: 0px 0px 10px rgb(100, 100, 100);
  text-align: center;
}

.imagen {
  width: 100%;

}

.article-separator {
  width: 50%;
  margin: auto;
}

.content-footer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 30px;
}

.section-card {
  margin: auto;
  text-align: center;
  padding: 30px;
}

.section-shipping {
  margin: auto;
  text-align: center;
  padding: 30px;
}

.section-user {
  margin: auto;
  text-align: center;
  padding: 30px;
}

.copyright {
  background-color: #000000;
  color: #ebebeb;
  padding: 30px;
}

.copy {
  text-align: center;
}


.main-container {
  display: flex;
}

.container {
  position: relative;
  display: inline-grid;
  grid-template-columns: 1fr 1fr 1.5fr;
  grid-template-rows: 0fr 1fr 0fr;
}

.container img {
  max-width: 100%;
}

.first {
  grid-row: 1/span 2;
  grid-column: 1/span 2;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: black;
}

.second {
  display: flex;
  align-items: center;
  justify-content: center;
}

.texto {
  word-break: break-word;
  text-align: center;
  letter-spacing: 2px;
  background-color: transparent;
  color: whitesmoke;
  border: none;
  font-size: 20px;
}

.tercero {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #000000;
}

.cuatro {
  display: flex;
  grid-row: 7;
  grid-column: 1 /span 3;
  justify-content: center;
  align-items: center;
}

.wine {
  position: absolute;
  display: flex;
  width: 40%;
  justify-content: center;
  align-items: center;
  color: aliceblue;
  padding: 10px;
  background-color: rgba(30, 30, 30, 0.6);
  border-radius: 0x;
  backdrop-filter: blur(2px);
  border: 1px solid rgba(255, 255, 255, 0.2);
}

.beer {
  position: absolute;
  display: flex;

  justify-content: center;
  align-items: center;
  color: aliceblue;
  grid-row: 1;
  grid-column: 3;
  padding: 10px;
  background-color: rgba(30, 30, 30, 0.6);
  border-radius: 0px;
  backdrop-filter: blur(2px);
  border: 1px solid rgba(255, 255, 255, 0.2);
  box-sizing: content-box;
}

.wiskey {
  position: absolute;
  display: flex;
  width: 60%;
  justify-content: center;
  align-items: center;
  color: aliceblue;
  grid-row: 2;
  grid-column: 3;
  padding: 10px;
  background-color: rgba(30, 30, 30, 0.6);
  border-radius: 0px;
  backdrop-filter: blur(2px);
  border: 1px solid rgba(255, 255, 255, 0.2);
  box-sizing: content-box;
}

.champain {
  position: absolute;
  display: flex;
  width: 55%;
  justify-content: center;
  align-items: center;
  color: aliceblue;
  grid-row: 3;
  grid-column: 2;
  padding: 10px;
  background-color: rgba(30, 30, 30, 0.6);
  border-radius: 0px;
  backdrop-filter: blur(2px);
  border: 1px solid rgba(255, 255, 255, 0.2);
  box-sizing: content-box;
}

.banner-foot {
  text-align: center;
  background-color: white;
}

.img-foot {
  max-width: 100%;
}


.cont-redes {
  display: flex;
  width: 100%;
  justify-content: space-evenly;
  font-size: 30px;
}

.input-search {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: white;
  padding: 5px;
  box-shadow: -3px -3px 6px gray;
  width: 45%;
}

.create-search {
  display: flex;
  gap: 10px;
  justify-content: center;
}

.create {
  box-shadow: -3px -3px 6px grey;
  background-color: white;
  display: flex;
  align-items: center;
  padding: 5px;
  box-shadow: -3px -3px 6px gray;
}

.user {
  text-align: center;
  font-size: 50px;
}

.formulario {
  display: flex;
  justify-content: center;
}

.botones-form {
  display: flex;
  justify-content: space-evenly;
}

fieldset {

  padding: 15px;
  margin: 20px auto;
  position: relative;
  box-shadow: 20px 20px 60px #bebebe, -20px -20px 60px #ffffff;
  border-radius: 10px;
  background: whitesmoke;
}

.texto-edit {
  font-size: 30px;
  text-align: left;
}

legend {
  background: lightgray;
  font-weight: bold;
}

.imagen-editar {
  width: 20% !important;
}

.fas {
  color: red;
  font-size: 30px;
}
.tablet-pc{
  display: none;
  background-color: black;
}

@media (min-width: 479px) {


  .topnav {
    display: flex;
    border: #FFCB74;
  }

  .topnav-right {
    display: none;
  }

}



  @media (min-width: 768px) {
  
    .main-container {
      display: none;
  }
  
  .container {
    display: none;
  }
  
  .topnav-right {
    display: none;
  }
  .tablet-pc{
    display: block;
  }
  
  .banner-categorias {
    width: 98vw;
    
  }
  
    .article-detail {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
    }
  
    .article-separator {
      display: none;
    }
  
    .imagen {
      width: 14%;
  
    }
  
    .content-footer {
      flex-direction: row;
    }
  }
  



/* .topnav-right {
  display: none;
}
.tablet-pc{
  display: block;
}

.banner-categorias {
  width: 98vw;
  
}

  .article-detail {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  .article-separator {
    display: none;
  }

  .imagen {
    width: 14%;

  }

  .content-footer {
    flex-direction: row;
  }
} */

@media screen and (max-width: 600px) {

  .topnav a {
    display: none;
  }

  .topnav a.icon {
    float: right;
    display: block;
  }

  .topnav.responsive {
    position: relative;
  }

  .topnav.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
  }

  .topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
}

@media (min-width: 1200px) {



  .topnav {
    width: 30%;
  }

  .topnav-right {
    width: 20%;
  }

  .section-article {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
  }

  .section-detail {
    width: 70%;
    padding: 15px 15px 15px 30px;
  }

  .section-total {
    width: 30%;
    padding: 15px 30px 15px 15px;
  }

  .imagen {
    width: 10%;
  }

}