<!DOCTYPE html>
<html lang="en">

<head>
    <%- include("../partials/head.ejs") %>
        <link rel="stylesheet" href="/stylesheets/product-styles.css">
</head>

<body>

    <%- include("../partials/header.ejs") %>

    <div class="contenedor-formulario">
        <form action="/products/create" method="POST" enctype="multipart/form-data" class="container">
            <div>
                <label for="product_name"><b>Nombre:</b></label>
                <input type="text" name="product_name" id="product_name" placeholder="Nombre del producto">
            </div>
            <div>
                <label for="product_description"><b>Descripcion del producto:</b></label>
            </div>
            <div>
                <textarea id="product_description" name="product_description"></textarea>
            </div>

            <div>
                <label for="price"><b>Precio</b></label>
                <input type="number" placeholder="precio" name="price">
            </div>
            <div>
                <label for="category"><b>Seleccionar categoría</b></label>
         
                <select name="category_id">
                    <label for="category_id">- Seleccione la categoria - </label>
                    <% categoria.forEach(category => { %>
                    <option name="category_id" value="<%= category.category_id %>"><%= category.category_name %></option>
                    <% }); %>
                </select>
            </div>
            <div>
                <p>¿Producto recomendado?</p>
                <label for="recommended">si</label>
                <input type="radio" name="recommended" value=1>
                <label for="recommended">no</label>
                <input type="radio" name="recommended" value=0>
            </div>
            <div>
                <label for="image"><b>Subir imagen del producto</b></label>
                <input type="file" name="image" required>
            </div>
            <div>
                <button type="submit" class="boton">Crear producto</button>
            </div>
        </form>
    </div>
</body>

</html>